<!-- Här ska användaren mata in vikt och längd-->

@model Moment2.Models.BMIModel  //Hämtar modell

@{
    ViewData["Title"] = "BMI Kalkylator";
}

<h2>BMI Kalkylator</h2>
<p>Fyll i din vikt och längd för att beräkna ditt BMI</p>


@if (ViewBag.Message != null)
{
    <div style="color: red;">
        <strong>@ViewBag.Message</strong>
    </div>

}
<!--Formulär skickas till BMICalculatorController-->
<form asp-asp-controller="BMICalculator"- asp-action="Calculate" method="post">
    <div>

        <!--Skapar 2-vägsbidning mellan BMIModels egenskaper och inputfält-->
        <label asp-for="Weight">Vikt (kg):</label>
        <input asp-for="Weight" name="weight" required />
    </div>
    <div>
        <label asp-for="Height">Längd (cm):</label>
        <input asp-for="Height" name="height" required/>
    </div>
    <button type="submit">beräkna BMI</button>
</form>